@if (data) {
@if (data.type === 'confirmation') {
<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{data.title}}</h4>
  <button type="button" aria-label="name" class="btn-close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <p>
    {{data.message}}
  </p>
</div>
<div class="modal-footer">
  <button type="button" aria-label="name" class="btn btn-outline-secondary" (click)="closeModal()">
    {{data.buttonCancel}}
  </button>
  <button type="button" aria-label="name" class="btn btn-danger" (click)="confirmDelete()">
    {{data.buttonYes}}
  </button>
</div>
}
@if (data.type === 'information') {
<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{data.title}}</h4>
  <button type="button" aria-label="name" class="btn-close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <p>
    {{data.message}}
  </p>
</div>
}
}
